
.chat-nav{
  align-self: stretch;
  flex: 0 0 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;

  &__icon-box{
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--color-grey-dark-3);
  }

  &__icon-box:hover{
    color: var(--color-grey-dark-1);
    transition: all .3s;
  }

  &__text{
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: .75rem;
  }


}

.user-nav{
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover{
    background-color: var(--color-grey-light-2);
    transition: all .4s;
  }

  &__user-photo{
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-name{
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: .5rem;
  }
}